oos_bqnt/schemas/ListStatusRequest_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bdem="http://bloomberg.com/schemas/bdem" elementFormDefault="unqualified" attributeFormDefault="unqualified" bdem:package="tscimessagetypes">
  <xs:complexType name="ListStatusRequest">
    <xs:all>
      <xs:element ref="FIXMessageHeader" minOccurs="0"/>
      <xs:element ref="ListID" minOccurs="0"/>
      <xs:element ref="Text" minOccurs="0"/>
      <xs:element ref="EncodedTextLen" minOccurs="0"/>
      <xs:element ref="EncodedText" minOccurs="0"/>
      <xs:element ref="FIXMessageTrailer" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="NoHops" type="NoHops"/>
  <xs:complexType name="NoHops">
    <xs:sequence>
      <xs:element ref="Hop" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="count" type="xs:int">
      <xs:annotation>
        <xs:documentation>FIX tag 627: "NoHops" (NUMINGROUP)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="Hop" type="Hop"/>
  <xs:complexType name="Hop">
    <xs:sequence>
      <xs:element ref="HopCompID" minOccurs="0"/>
      <xs:element ref="HopSendingTime" minOccurs="0"/>
      <xs:element ref="HopRefID" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FIXMessageHeader" type="FIXMessageHeader"/>
  <xs:complexType name="FIXMessageHeader">
    <xs:sequence>
      <xs:element ref="BeginString" minOccurs="0"/>
      <xs:element ref="BodyLength" minOccurs="0"/>
      <xs:element ref="MsgType" minOccurs="0"/>
      <xs:element ref="SenderCompID" minOccurs="0"/>
      <xs:element ref="TargetCompID" minOccurs="0"/>
      <xs:element ref="OnBehalfOfCompID" minOccurs="0"/>
      <xs:element ref="DeliverToCompID" minOccurs="0"/>
      <xs:element ref="SecureDataLen" minOccurs="0"/>
      <xs:element ref="SecureData" minOccurs="0"/>
      <xs:element ref="MsgSeqNum" minOccurs="0"/>
      <xs:element ref="SenderSubID" minOccurs="0"/>
      <xs:element ref="SenderLocationID" minOccurs="0"/>
      <xs:element ref="TargetSubID" minOccurs="0"/>
      <xs:element ref="TargetLocationID" minOccurs="0"/>
      <xs:element ref="OnBehalfOfSubID" minOccurs="0"/>
      <xs:element ref="OnBehalfOfLocationID" minOccurs="0"/>
      <xs:element ref="DeliverToSubID" minOccurs="0"/>
      <xs:element ref="DeliverToLocationID" minOccurs="0"/>
      <xs:element ref="PossDupFlag" minOccurs="0"/>
      <xs:element ref="PossResend" minOccurs="0"/>
      <xs:element ref="SendingTime" minOccurs="0"/>
      <xs:element ref="OrigSendingTime" minOccurs="0"/>
      <xs:element ref="XmlDataLen" minOccurs="0"/>
      <xs:element ref="XmlData" minOccurs="0"/>
      <xs:element ref="MessageEncoding" minOccurs="0"/>
      <xs:element ref="LastMsgSeqNumProcessed" minOccurs="0"/>
      <xs:element ref="NoHops" minOccurs="0"/>
      <xs:element ref="RouteToSession" minOccurs="0"/>
      <xs:element ref="ProprietaryFixProtocolVersion" minOccurs="0"/>
      <xs:element ref="GNETId" minOccurs="0"/>
      <xs:element ref="RouteToSessionContains" minOccurs="0"/>
      <xs:element ref="BBUniqueID" minOccurs="0"/>
      <xs:element ref="GroupID" minOccurs="0"/>
      <xs:element ref="UnsolicitedRequest" minOccurs="0"/>
      <xs:element ref="TransactTimeMicroseconds" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FIXMessageTrailer" type="FIXMessageTrailer"/>
  <xs:complexType name="FIXMessageTrailer">
    <xs:sequence>
      <xs:element ref="SignatureLength" minOccurs="0"/>
      <xs:element ref="Signature" minOccurs="0"/>
      <xs:element ref="CheckSum" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BeginString" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 8: "BeginString" (STRING)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BodyLength" type="xs:int">
    <xs:annotation>
      <xs:documentation>FIX tag 9: "BodyLength" (LENGTH)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CheckSum" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 10: "CheckSum" (STRING)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MsgSeqNum" type="xs:int">
    <xs:annotation>
      <xs:documentation>FIX tag 34: "MsgSeqNum" (SEQNUM)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MsgType" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 35: "MsgType" (STRING)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PossDupFlag" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 43: "PossDupFlag" (BOOLEAN)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SenderCompID" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 49: "SenderCompID" (STRING)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SenderSubID" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 50: "SenderSubID" (STRING)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SendingTime">
    <xs:annotation>
      <xs:documentation>FIX tag 52: "SendingTime" (UTCTIMESTAMP)</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="([1-9][0-9]{3})(0[1-9]|1[0-2])(0[1-9]|[12][0-9]|3[0-1])-([01][0-9]|2[0-4]):([0-5][0-9]):([0-5][0-9])(\.([0-9]+))?"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="TargetCompID" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 56: "TargetCompID" (STRING)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TargetSubID" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 57: "TargetSubID" (STRING)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Text" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 58: "Text" (STRING)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ListID" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 66: "ListID" (STRING)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Signature" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 89: "Signature" (DATA)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SecureDataLen" type="xs:int">
    <xs:annotation>
      <xs:documentation>FIX tag 90: "SecureDataLen" (LENGTH)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SecureData" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 91: "SecureData" (DATA)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SignatureLength" type="xs:int">
    <xs:annotation>
      <xs:documentation>FIX tag 93: "SignatureLength" (LENGTH)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PossResend" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 97: "PossResend" (BOOLEAN)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OnBehalfOfCompID" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 115: "OnBehalfOfCompID" (STRING)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OnBehalfOfSubID" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 116: "OnBehalfOfSubID" (STRING)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OrigSendingTime">
    <xs:annotation>
      <xs:documentation>FIX tag 122: "OrigSendingTime" (UTCTIMESTAMP)</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="([1-9][0-9]{3})(0[1-9]|1[0-2])(0[1-9]|[12][0-9]|3[0-1])-([01][0-9]|2[0-4]):([0-5][0-9]):([0-5][0-9])(\.([0-9]+))?"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DeliverToCompID" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 128: "DeliverToCompID" (STRING)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DeliverToSubID" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 129: "DeliverToSubID" (STRING)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="SenderLocationID" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 142: "SenderLocationID" (STRING)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TargetLocationID" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 143: "TargetLocationID" (STRING)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="OnBehalfOfLocationID" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 144: "OnBehalfOfLocationID" (STRING)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="DeliverToLocationID" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 145: "DeliverToLocationID" (STRING)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="XmlDataLen" type="xs:int">
    <xs:annotation>
      <xs:documentation>FIX tag 212: "XmlDataLen" (LENGTH)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="XmlData" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 213: "XmlData" (DATA)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MessageEncoding" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 347: "MessageEncoding" (STRING)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EncodedTextLen" type="xs:int">
    <xs:annotation>
      <xs:documentation>FIX tag 354: "EncodedTextLen" (LENGTH)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EncodedText" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 355: "EncodedText" (DATA)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LastMsgSeqNumProcessed" type="xs:int">
    <xs:annotation>
      <xs:documentation>FIX tag 369: "LastMsgSeqNumProcessed" (SEQNUM)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="HopCompID" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 628: "HopCompID" (STRING)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="HopSendingTime">
    <xs:annotation>
      <xs:documentation>FIX tag 629: "HopSendingTime" (UTCTIMESTAMP)</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="([1-9][0-9]{3})(0[1-9]|1[0-2])(0[1-9]|[12][0-9]|3[0-1])-([01][0-9]|2[0-4]):([0-5][0-9]):([0-5][0-9])(\.([0-9]+))?"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="HopRefID" type="xs:int">
    <xs:annotation>
      <xs:documentation>FIX tag 630: "HopRefID" (SEQNUM)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ProprietaryFixProtocolVersion" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 5680: "ProprietaryFixProtocolVersion" (STRING)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RouteToSession" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 7779: "RouteToSession" (STRING)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RouteToSessionContains" type="xs:int">
    <xs:annotation>
      <xs:documentation>FIX tag 7780: "RouteToSessionContains" (INT)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GNETId" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 10000: "GNETId" (STRING)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TransactTimeMicroseconds" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 20060: "TransactTimeMicroseconds" (STRING)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="BBUniqueID" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 21203: "BBUniqueID" (STRING)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GroupID" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 21204: "GroupID" (STRING)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UnsolicitedRequest" type="xs:string">
    <xs:annotation>
      <xs:documentation>FIX tag 21205: "UnsolicitedRequest" (BOOLEAN)</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ListStatusRequest" type="ListStatusRequest"/>
</xs:schema>